*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    
}
body{
    background-color: whitesmoke;
    
    /* color: white; */
}
#sect1{
    background-image: url("./images/background2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:darken;
    
    padding-top: 48px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    
}
#sect1>#sect1container{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgba(255, 217, 0, 0.498), rgba(255, 254, 254, 0.655));
    border-radius: 100px;
    
    
}
#sect1div1{
    width: 100%;
    padding: 20px 30px 0px 150px;
    border-right: 3px solid white;
}
#sect1div1>img{
    border-radius: 70px;
}
#sect1div1>h3{
    margin: 10px 0px 0px 0px;
    letter-spacing: 7px;
    font-family: 'Marcellus SC', serif;
    
}
#sect1div1>ul{
    margin-left: 40px;
}
#sect1div1>ul>a{
    
    list-style: none;
    color: black;
    margin: 5px;
    
}
#sect1div1>ul>a :hover{
    color: white;
}
#sect1div2{
    width: 100%;
    display: flex;
    justify-content: center;
}
#sect1div2>#sect1div2subdiv1>h1{
    padding-top: 100px;
    padding-left: 30px;
    font-size: 40px;
    font-family: 'Kelly Slab', cursive;
    line-height: 15vh;
    letter-spacing: 5px;
    
}
#sect1div2>#sect1div2subdiv2>img{
    filter: brightness(1);
    margin-bottom: 0;
    height: 100vh;
    
    
}
/* styling for section2 */
#sect2{
    
    margin-top: 50px;
}
fieldset {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 7px solid rgba(255, 217, 0, 0.635);
    border-radius: 15px;
    
}
fieldset>legend{
    font-size: 30px;
    font-family: 'Kelly Slab', cursive;
    letter-spacing: 3px;

}
#sect2container{
    display: flex;
    justify-content: space-around;
}
#sect2container>div{
    width: 100%;
    height: 40vh;
    background: linear-gradient(to top, rgba(255, 217, 0, 0.724), rgba(189, 187, 187, 0.552));
    border-radius: 50px;
    margin: 10px;
    padding-left: 70px;
    padding-top: 30px;
    line-height: 50px;
    font-family: 'Marcellus SC', serif;
}
#subdiv1>p{
    font-size: 25px;
}
#subdiv2>p{
    font-size: 20px;
}
/* styling for section 3 */
#sect3{
    margin-top: 100px;
}
#sect3>fieldset{
    height: 25vh;
}
#sect3>fieldset>ul>li{
    display: inline;
    padding: 60px;
    font-size: 20px;
    font-family: 'Marcellus SC', serif;

    
}
/* styling for section 4 */
#sect4{
    margin-top: 100px;
    margin-bottom: 100px;
}
#sect4>fieldset{
    display: flex;
    justify-content: space-around;
}
#sect4>fieldset>div{
    height: 100%;
    background:linear-gradient(to top, rgba(255, 213, 1, 0.645), rgba(218, 213, 213, 0.522));
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    width: 25%;
    line-height: 25px;
    letter-spacing: 1px;
    
    
    
}
#sect4>fieldset>div>h1{
    padding-bottom: 10px;
    font-family: 'Kelly Slab', cursive;
}
#sect4>fieldset>div>p{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Marcellus SC', serif;
    

}


/* styling for section 5*/
#sect5{
    
   margin-top: 150px;
}
#sect5>h1{
    font-family: 'Kelly Slab', cursive;
    font-size: 40px;
    letter-spacing: 8px;
    text-align: center;
}
#span1{
    padding-top: 10px;
    border-top: 3px solid gold;
}
#span2{
    border-bottom: 3px solid gold;
    padding-bottom: 10px;
}
#sect5container{
    margin: 20px;
    margin-top: 50px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    
}

#sect5container>div{
    padding: 10px;
    background:linear-gradient(to top, rgba(255, 213, 1, 0.449), rgba(255, 225, 0, 0.737));
    margin: 30px;
    width: 43%;
    height: 50vh;
    border-radius: 20px;
}

#sect5container>div>a>img{
    border-radius: 20px;
   
    transition: transform .1s;
    
}

#sect5container>div>h3{
    text-align: center;
    padding: 20px;
    font-family: 'Kelly Slab', cursive;
    font-size: 20px;
    letter-spacing: 3px;
    padding-top: 30px;
    
}
a>img:hover{
    -ms-transform: scale(1.025); /* IE 9 */
    -webkit-transform: scale(1.025); /* Safari 3-8 */
    transform: scale(1.1);
    
}
.span1{
    border-top: 2px solid rgb(255, 255, 255);
    padding-top: 10px;
    border-radius: 10px;
}
.span2{
    border-bottom: 2px solid rgba(243, 243, 241, 0.737);
    padding-bottom: 10px;
    border-radius: 10px;
}
/* styling for sect6 */
#sect6{
    margin-top: 100px;
}
#sect6>h1{
    
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Kelly Slab', cursive;
    font-size: 40px;
    letter-spacing: 8px;
    
}
#sect6container{
    padding-top: 50px;
     height: 50vh;
    width: 85%;
    margin-left: 100px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    background:linear-gradient(to top, rgba(139, 136, 136, 0.811), rgba(255, 225, 0, 0.688));
}
#sect6container>#contactme>a{
    display: block;
    padding-top: 30px;
    color: black;
}
#sect6container>#contactme>a:hover{
    color: white;
}
#sect6container>#query>p,form{
    line-height: 30px;
}
#sect6container>#query>form{
    padding-top: 20px;
}
#response{
    width: 60vh;
    height: 10vh;
    
}
#submit{
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Kelly Slab', cursive;
}
#submit:hover{
    color: white;
    background-color: black;
}
/* media queries */
@media screen and (max-width: 920px){
    fieldset>legend>h1{
        font-size: 25px;
    }
    #sect1{
        background-image: url("./images/background2.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode:darken;
    }
    #sect1>#sect1container{
        border-radius: 50px;
    }
    #sect1div1{
        border: 0px;
        padding: 20px;
    }
    #sect1div2>#sect1div2subdiv2>img{
        display: none;
    }
    #sect1div2{
        display: none;
    }
    #sect2container{
        display: flex;
        flex-wrap: wrap;
    }
    #sect2container>div{
        height: 30vh;
        margin: 10px;
        padding-left: 40px;

    }
    
    #sect3{
        margin-top: 50px;
    }
    #sect3>fieldset{
        height: 60vh;
    }
    
   
    #sect3>fieldset>ul>li{
        display: block;
        padding: 15px;
        font-size: 20px;
        font-family: 'Marcellus SC', serif;   
    }
    #sect4>fieldset{
        display: flex;
        flex-wrap: wrap;
    }
    #sect4>fieldset>div{
        width: 100%;
    }
    #sect4>fieldset>div>img{
        height: 100px;
        width: 100px;
    }
    #sect5{
    
        margin-top: 50px;
     }
     #sect5>h1{
         font-family: 'Kelly Slab', cursive;
         font-size: 30px;
         letter-spacing: 3px;
         text-align: center;
     }
     #span1{
         padding-top: 10px;
         border-top: 3px solid gold;
     }
     #span2{
         border-bottom: 3px solid gold;
         padding-bottom: 10px;
     }
     
     
     #sect5container>div{
         padding: 10px;
         background:linear-gradient(to top, rgba(255, 213, 1, 0.449), rgba(255, 225, 0, 0.737));
         margin: 30px;
         width: 100%;
         height: 40vh;
         border-radius: 20px;
     }
     
     #sect5container>div>a>img{
         border-radius: 10px;
        
         
         
     }
     
     #sect5container>div>h3{
         text-align: center;
         padding: 20px;
         font-family: 'Kelly Slab', cursive;
         font-size: 20px;
         letter-spacing: 3px;
         padding-top: 30px;
         line-height: 25px;
         
     }
     
     .span1{
         border: none;
     }
     .span2{
         border: none;

     }
     #sect6{
        margin-top: 50px;
        
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #sect6>h1{
        
        padding-bottom: 30px;
        text-align: center;
        font-family: 'Kelly Slab', cursive;
        font-size: 30px;
        letter-spacing: 5px;
        
    }
    #sect6container{
        height: 25vh;
        margin: 0px;
        margin-bottom: 30px;
        padding-top: 50px;
        width: 100%;
        border-radius: 30px;
        display: flex;
        flex-wrap: wrap;
        
        background:linear-gradient(to top, rgba(139, 136, 136, 0.811), rgba(255, 225, 0, 0.688));
    }
   
    #sect6container>#contactme>a{
        display: block;
        padding: 20px;
        
       
        color: black;
    }
    #sect6container>#contactme>a[href="https://github.com/DennisMwangi1"]{
        display: none;
    }
    #sect6container>#contactme>a:hover{
        color: white;
    }
    #sect6container>#query{
        display: none;
    }
    
     
}
@media screen and (max-width: 1100px){
    #sect1div2{
        display: none;
        
    }
    #sect1div1{
        border: none;
    }
    #sect2container>div{
        padding-left: 30px;
    }
    #sect3>fieldset>ul>li{
        font-size: 20px;
        line-height: 10vh;
        
    }
    #sect4>fieldset{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-height: 550px){
    #sect6container{
        height: 50vh;
    }
    #sect3>fieldset{
        height: 80vh;
    }
    #sect5container>div{
        height: 80vh;
    }
    #sect2container>div{
        height: 60vh;
    }
}